// Logo
/* logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.6;
  }
}

.logo__decor {
  color: #000000;
}

.logo__decor--white {
  color: #ffffff;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
