// footer

.footer-wrapper {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.navigation__map {
  display: inline-block;

  margin-top: 20px;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: #ffffff;
  text-decoration: none;

  transition: var(--transform-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__auth {
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: var(--transform-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 1199px) {
    margin-top: 8px;
  }
}
